
p {
    font-size: 28px;
    font-style: italic;
    text-align: center;
}


.header {
    display: flex;
    margin: 20px; 
    padding: 4px;
    border: 10px solid black;
    gap: 77px;
    background-color: olive;
    
}

.header li {
    display: flex;
    margin: 2px;
    padding: 0;
    border: 1px;
    font-size: 25px;
    background-color: olive;
    color: aliceblue;
   
}

a:visited {
    background-color: olive;
    color: black;
}

.underhead {
    display:flex;
    margin: 20px;
    padding: 0;
    border: 10px solid black; 
    background-color: olive;
}

.underhead p {
    display:flex;
    margin: 20px;
    padding: 0;
    border: 5px solid black; 
}

.welcome {
    display:flex;
    margin: 20px;
    padding: 0;
    border: 5px solid black; 
    font-size: 28px;
    color: blanchedalmond;
    font-style: italic;
    text-align: center;
    }

.random {
    display:flex;
    margin: 20px;
    padding: 0;
    border: 10px solid black; 
    background-color: olive;
}

.random p {
    display:flex;
    margin: 20px;
    padding: 0;
    border: 5px solid black; 
}
